.content {
  width: calc(100dvw - 300px);
}

.collapse-icon {
  width: 24px;
  height: 24px;
  background-color: #00235a;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  cursor: pointer;
  top: 67px;
}

.collapse-icon.collapsed {
  transform: translateX(50%) rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  .content {
  width: calc(100dvw - 100px);
}
}

@media screen and (max-width: 768px) {
  .content {
    width: 100dvw;
  }
  .sidebar-container {
    position: absolute;
  }

  .collapse-icon {
    display: none;
  }

  .root-container {
    flex-direction: column;
  }
}
