.content {
  width: calc(100dvw - 300px);
  max-width: 100%;
}

.collapse-icon {
  width: 24px;
  height: 24px;
  background-color: #00235a;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  cursor: pointer;
  top: 67px;
}

.collapse-icon.collapsed {
  transform: translateX(50%) rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

#carousel-navigation-button {
  background-color: var(--color-primary);
}

#carousel-navigation-button:disabled {
  background-color: #ffffff;
  border: 2px solid var(--color-primary);
  opacity: 1;
}

.custom-calendar {
  font-size: 18px; /* Increase font size */
  --rdp-cell-size: 50px; /* Controls day cell size */
  --rdp-caption-font-size: 1.2rem;
  --rdp-accent-color: #3f51b5;
}

@media (max-width: 1200px) {
  .content {
    width: calc(100dvw - 300px);
  }
}

@media (max-width: 1000px) {
  .content {
    width: calc(100dvw - 300px);
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
  .sidebar-container {
    position: absolute;
  }

  .collapse-icon {
    display: none;
  }

  .root-container {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
.main-page-content {
    height: calc(100dvh - 110px);
    overflow-y: auto;
}
}